.main{
  max-width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.heading{
text-align: center;
color: #5e5e5e;
}
.sub-heading {
  text-align: center;
  font-size: .75em;
  font-weight: 300;
  color: #5e5e5e;
}
.cartItems img{
  width: 50%;
  height: auto;
}

.title{

}
.price{
  font-size: 24px;
}
.title, .price, .right-side{
margin-top: 50px;
}
.item{
  background-color: #FFF;
  padding: 30px 0px;
}
.quantity{
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 10px;
  width: 90%;

}
.minus, .plus {
  display: inline-block;
  width: 30px;
  height: 25px;
  background-color: #EA6A9E;
  color: #fff;
  text-align: center;
  cursor: pointer;

}
.num{
}
.num input{
  width: 30px;
  height: 25px;
  padding-left:4px;
}
.total h3{
  margin-left: 37%;

}
