<div class="container">

  <div class="main">
    <h1 class="heading">Shopping cart</h1>
    <h2 class="sub-heading mb-5">Free shipping from $100!</h2>

    <section class="shopping-cart">
      <div class="cartItems">
        <div class="row mb-5 item" *ngFor="let item of cartItems">
          <div class="col-4 img-fluid image d-flex align-items-center justify-content-center">
            <img [src]="item.image">
          </div>
          <div class="col-4 title"><h3>{{item.title| truncateDescription:20}}</h3>
            <p>Desc{{item.description| truncateDescription:90}}</p>
          </div>
          <div class="col-2 price">{{item.price}}$</div>
          <div class="col-2 right-side">
            <div class="quantity">
              <div class="plus" (click)="incrment(item.id)">+</div>
              <div class="num"><input type="text" [value]="item.quantity"></div>
              <div class="minus" (click)="decriment(item.id)">-</div>
            </div>
            <div class="total mt-3">
              <h3>Total</h3>
              <h3>{{item.quantity*item.price}}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- <footer class="_grid cart-totals">
      <div class="_column subtotal" id="subtotalCtr">
        <div class="cart-totals-key">Subtotal</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column shipping" id="shippingCtr">
        <div class="cart-totals-key">Shipping</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column taxes" id="taxesCtr">
        <div class="cart-totals-key">Taxes (6%)</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column total" id="totalCtr">
        <div class="cart-totals-key">Total</div>
        <div class="cart-totals-value">$0.00</div>
      </div>
      <div class="_column checkout">
        <button class="_btn checkout-btn entypo-forward">Checkout</button>
      </div>
    </footer> -->

    </section>
  </div>

</div>
