<nav class="navbar navbar-expand-lg" style="background-color:none;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/3-removebg-preview.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll main-links" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eye Glasses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sun Glasses</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <li class="nav-item">
          <a class="nav-link cart-icon" href="#login"><i class="fa-solid fa-cart-shopping"></i> <span class="item-count">5</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">View Profile</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

